[submodule "submodules/bootboot"]
	path = submodules/bootboot
	url = https://gitlab.com/bztsrc/bootboot.git
[submodule "submodules/spleen"]
	path = submodules/spleen
	url = https://github.com/fcambus/spleen
